@page
@model IndexModel
@{
    Layout = null;
    //ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html manifest="index.appcache">
<head>
    <title>Offline Web App Demo</title>

    <!-- Use leaflet for now since it uses only GET requests. Google Maps uses a POST request, which cannot be cached. -->
    <link rel="stylesheet" href="./lib/leaflet/dist/leaflet.css" />
    <script src="./lib/leaflet/dist/leaflet.js"></script>
    <script src="./js/leaflet-color-markers.js"></script>

    <!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script> -->
    <link rel="stylesheet" type="text/css" href="./css/site.css" />
    <script src="./js/site.js" type="module"></script>

    <link rel="manifest" href="manifest.json">
</head>
<body>
    <h1>Offline map example</h1>
    <div>
        <button type="button" id="subscribeToPushNotifications" style="display:none">Subscribe to push notifications</button>
    </div>
    <p>Click a blank area to place a pin. Drag a pin to move it. Click a pin to delete it.</p>
    <div id="map"></div>

    <!--Need to work out how to cache 'POST GetViewportInfo' used internally by Google Maps-->
    <!-- <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly&loading=async"
    ></script> -->
</body>
</html>